
# ⚙️ Node / Ionic / Capacitor
node_modules/
www/
dist/
.env
*.log
package-lock.json
.vscode/
.idea/

# 🔥 Firebase
google-services.json
firebase-debug.log

# 📱 Android build
android/.gradle/
android/app/build/
android/build/
*.apk
*.ap_
*.keystore

# macOS/Linux/Windows
.DS_Store
Thumbs.db

# Capacitor / Cordova
plugins/
capacitor.config.json
capacitor.config.ts

# Test
coverage/
test-results/

# ⚠️ Evite les fichiers perso
*.local
.env.*
